<a href="https://colab.research.google.com/github/deveveryday/data_science_jobs_and_salary/blob/main/project_extensao_new_model_210226.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Análise Exploratória

1. Banco de dados
Tarefa: Pesquise e descreva o banco de dados jobs_in_data.csv, abordando:

O tema central do dataset: Empregos e salários na área de Ciência de Dados

Que tipo de informações ele apresenta: Cargos, departamentos, cidades, salários, modelo de trabalho, tamanho da empresa, nível de experiência

Onde o banco de dados está disponível: Kaggle - https://www.kaggle.com/datasets/hummaamqaasim/jobs-in-data

Discussão:
Que tipos de perguntas ou problemas podem ser investigados a partir desse conjunto de dados?
Criar um caminho para estudantes seguirem, por exemplo.
Ou um plano de criação de cursos para uma escola de tecnologia e empreendedorismo


2. Importação e leitura dos dados
Tarefa: Pesquise o conceito de DataFrame em Python, explicando:

O que é uma estrutura de dados tabular: é um formato composto por linhas e colunas

Por que o DataFrame é amplamente utilizado em Ciência de Dados: segue a boa prática de cd/python

Qual biblioteca é necessária para trabalhar com DataFrames: Pandas/Matplot

Execute o código:
```
1 import pandas as pd
2 df = pd . read_csv (" jobs_in_data . csv ")
3 df . head ()
4 df . tail ()

```
Observação: Para não precisar baixar o arquivo jobs_in_data.csv sempre que utilizarem o Google
Colab, é possível permitir que o Colab acesse diretamente o seu Google Drive. Nesse caso, o arquivo
deve ser salvo previamente na pasta desejada dentro do Drive. Verifique com atenção o caminho correto até o arquivo. Para isso, execute o código:

```
1 from google . colab import drive
2 drive . mount (’/ content / drive ’)
3 import pandas as pd
4 df = pd . read_csv ("/ content / drive / MyDrive / Colab Notebooks / jobs_in_data . csv ")

```

Discussão:

• O que cada linha do código executa?

1 - importa a biblioteca Pandas e coloca um nome de PD

2 - faz o carregamento do arquivo csv em memória

3 - pega os dados iniciais do dataset

4 - pega os dados do final do dataset


Como instalar ela no Python qual código para chama-la:

Pode ser instalada com o comando: ```pip install pandas```

• Qual a função dos métodos head() e tail()? pega os dados iniciais do dataset.

Tem como especificar a quantidade de observações que eu queira ver? Como posso fazer isso? Em ambas as funções é possível passar um valor informando a quantidade de observações

• Por que essa visualização inicial é importante?
Para ter noção se este dataset é "bom"


3. Tipos de variáveis

Tarefa: Pesquise e explique a diferença entre variáveis:

• Qualitativas (categóricas: nominais e ordinais);
Nominais, consigo saber nomes, categorias.

Ordinais, consigo saber ordens, sequências.


• Quantitativas (Numéricas: discretas e contínuas).
Discretas, consigo somar, fazer contas
Contínua, consigo


Execute o código:
```
1 df . info ()
2 df . dtypes
```

Discussão:

• Quais variáveis são numéricas e quais são categóricas no nosso banco de dados?

Numéricas:
work_year, salary, salary_in_usd    

Categoricas:
job_title, job_category, salary_currency, employee_residence, experience_level, employment_type, work_setting, company_location

• O que cada comando retorna e quando utilizá-los?

1 - informa a quantidade de observações sem dado

2 - informa quais variáveis possuem nulidade


Discussão:

• Existem valores ausentes no banco de dados? Não

• Como valores nulos podem afetar análises e conclusões? Pode gerar

• Em que situações informações duplicadas podem gerar problemas? Ao fazer somatória de montante de mercado, por exemplo, o valor será superestimado.

• Por que identificar corretamente o tipo de variável é essencial para análises estatísticas?
Para entregar o dado mais fiel à realidade poss´vel

• Explique o significado de cada variável do banco de dados.
work_year -> ano_trabalho
job_title -> cargo
job_category -> categoria_cargo
salary_currency -> moeda_salario
salary -> salario
salary_in_usd -> salario_dolar
employee_residence -> residencia_funcionario
experience_level -> nivel_experiencia
employment_type -> tipo_contrato
work_setting -> modelo_trabalho
company_location -> localizacao_empresa
company_size -> porte_empresa


4. Informações faltantes e duplicadas
Tarefa: Pesquise os conceitos de:

• valores nulos (missing values): Variáveis sem informação

• dados duplicados em bancos de dados: Dado repetido, provavelmente eliminável

• diferença entre duplicação de linhas e duplicação de colunas.
Duplicação de linha duplica observação, duplicação de coluna duplica variável

Explique por que esses aspectos devem ser analisados em uma Análise Exploratória de Dados (EDA) e quais problemas podem gerar caso não sejam tratados adequadamente.

Como isso consigo ter mais exatidão na informação oferecida

Atenção: execute cada bloco de código separadamente e analise o resultado antes de seguir
para o próximo.

4.1 Verificação de valores nulos
Execute o código:
```
1 # Verificando valores nulos por coluna
2 df . isnull () . sum ()
```

Reflita:

• O que o método isnull() identifica no banco de dados? Se aquele dado está vazio.

• O que o método sum() está contabilizando nesse contexto? Faz a contabilização dos dados vazios naquela coluna

4.2 Verificação de linhas duplicadas
Execute o código:
```
1 # Verificando linhas duplicadas
2 df . duplicated () . sum ()
```
Reflita:

• O que significa uma linha estar duplicada em um banco de dados?
Significa que existem informações repetidas, provavelmente excluíveis.

• O valor retornado indica a existência ou não de duplicações?
Exitem 4014 duplicações

Para investigar melhor, execute:
```
1 df [ df . duplicated () ]
5
```
4.3 Remoção de linhas duplicadas

Após identificar a existência de linhas duplicadas, crie um novo DataFrame sem essas repetições.

Execute o código:
```
1 df_novo = df . drop_duplicates () . copy ()
Em seguida, execute:
1 df_novo . duplicated () .sum ()

```
Reflita:

• O que o método drop_duplicates() faz? Remove observações repetidas

• Por que foi criado um novo DataFrame? Para não modificar nosso arquivo inicial de trabalho, imutável para segurança

• Qual a importância do uso do copy()? Para criar o novo dataframe, evita perca de dados durante execução


4.4 Verificação de colunas duplicadas
Execute o código:
```
1 # Verificando colunas duplicadas
2 df .T. duplicated () .sum ()
```
Discussão:


• Existem valores ausentes no banco de dados? Se sim, em quais colunas? Não existem

• Quantas linhas duplicadas existiam antes da limpeza? 9355


• Após a remoção, o banco passou a ter linhas duplicadas? 5341

• Quantas colunas duplicadas existem no banco de dados? Teoricamente 3, Salary

• Qual a diferença conceitual entre duplicação de linhas e duplicação de colunas? linhas duplicacam observações, colunas duplicam variáveis.

• Por que a duplicação de linhas tende a ser mais problemática em análises estatísticas? Porque gera dados errôneos. Já em colunas, elas poderiam ser ignoradas.

• Em que situações a duplicação de colunas pode ocorrer na prática? Quando valores são exibidos em idiomas ou formatos diferentes.

• A presença de dados duplicados pode afetar médias, contagens e conclusões?

Explique.

Sem dúvida, a fórmula de média em si já fica adulterada com valores duplicados


5. Estatísticas descritivas

Tarefa: Pesquise o método describe(), explicando:

• Quais estatísticas são calculadas?
Valores totais, máximos e mínimos, médias, moda e quartis.

• Para quais tipos de variáveis esse método se aplica?
Numéricas, textos e datas


• Qual o significado de média, mediana, desvio padrão, mínimo e máximo?
média = somatória divida pela quantidade de itens.
mediana = o item central
desvio padrão = indica a homogeniedade dos dados

Execute o código:
```
1 df . describe ()

```

Discussão:

• O que as estatísticas revelam sobre a distribuição dos dados?
Existem valores extremos, como 400k de salário


• Existem indícios de valores extremos (outliers)?
Sim. +400k

• Por que essa etapa é fundamental antes de análises mais avançadas?
Indica recortes que podem não refletir a realidade


6. Padronização e tradução dos nomes das colunas

Tarefa: Considere que os resultados desta análise serão apresentados em uma feira aberta à comunidade, incluindo pessoas que não possuem familiaridade com termos técnicos em inglês. Traduza os nomes das colunas do banco de dados para o português, mantendo clareza, coerência e significado adequado ao contexto da Ciência de Dados.

Execute o código:
```
1 # Dicionario de traducao dos nomes das colunas
2 novos_nomes = {
3 " work_year ": " ano_trabalho ",
4 " job_title ": " cargo ",
5 " job_category ": " categoria_cargo ",
6 " salary_currency ": " moeda_salario ",
7 " salary ": " salario ",
8 " salary_in_usd ": " salario_dolar ",
9 " employee_residence ": " residencia_funcionario ",
10 " experience_level ": " nivel_experiencia ",
11 " employment_type ": " tipo_contrato ",
12 " work_setting ": " modelo_trabalho ",
13 " company_location ": " localizacao_empresa ",
14 " company_size ": " porte_empresa "
15 }
16
17 # Aplicando a traducao das colunas
18 df_pt_br = df . rename ( columns = novos_nomes )
19
20 # Exibindo os novos nomes das colunas
21 display ( df_pt_br . columns )

```
Discussão:
• Por que a tradução dos nomes das colunas é importante ao apresentar dados para o público geral? Para tornar a apresentação mais amigável e próxima da respectiva audiência

• Os novos nomes das colunas estão claros para alguém que não conhece programação?
Sim, para público em geral

• Algum termo poderia gerar ambiguidade ou confusão? Qual?
Tipo de Contrato e Modelo de trabalho podem ser confundidos como variável duplicada

• Qual a diferença entre traduzir literalmente e traduzir considerando o contexto? Para tornar o entendimento mais próximo da intenção dessa análise

• Essa etapa altera os dados do banco ou apenas a forma como eles são apresentados?

• Como essa padronização contribui para a comunicação dos resultados na feira?
Perguntas sobre o código:

• O que é um dicionário em Python e por que ele é adequado para essa tarefa?

• O que faz o método rename(columns=...) do pandas?

• O dataframe original é modificado ou um novo dataframe é criado? Explique.

• Por que é uma boa prática manter os nomes das colunas padronizados em um idioma único?


10. Tipos de gráficos e sua relação com os dados
Tarefa: Pesquise e explique os seguintes tipos de gráficos:

• Gráfico de barras;

• Histograma (distribuição);

• Gráfico de linhas (evolução temporal);

• Gráfico de pizza;

• Boxplot;

• Gráfico de dispersão.
indicando:

• Para quais tipos de variáveis são mais adequados (categóricas ou numéricas);

• Que tipo de informação cada gráfico permite visualizar;

• Em quais situações o uso do gráfico é mais indicado.

Discussão:

• Por que não existe um único tipo de gráfico adequado para todos os dados?

• Qual a importância de relacionar o tipo de gráfico ao tipo de variável?


11. Gráfico de barras aplicado ao banco de dados
Tarefa: Utilize um gráfico de barras para analisar uma variável categórica do banco de dados, justificando a escolha dessa variável.
Execute o código:
```
1 df [’ job_category ’]. value_counts () . plot ( kind =’bar ’)
```
Discussão:

• Qual categoria apresenta maior frequência?

• O gráfico de barras facilita a comparação entre categorias? Por quê?

• Esse gráfico seria adequado para analisar salários? Justifique.


12. Histograma aplicado à distribuição salarial
Tarefa: Aplique um histograma para analisar a distribuição de uma variável numérica contínua do
banco de dados.

Execute o código:
```
1 df [’ salary_in_usd ’]. hist ( bins =30)
```
Discussão:

• Como os salários estão distribuídos?

• Existe concentração em determinadas faixas salariais?

• Há indícios de assimetria ou valores extremos?

• Por que o histograma é mais adequado que o gráfico de barras nesse caso?

13. Gráfico de linhas e análise temporal

Tarefa: Utilize um gráfico de linhas para analisar a evolução de uma variável ao longo do tempo.

Execute o código:
```
1 df . groupby (’work_year ’)[’ salary_in_usd ’]. median () . plot ()
```
Discussão:
• O salário mediano apresenta crescimento, queda ou estabilidade ao longo dos anos?

• O gráfico de linhas é adequado para esse tipo de análise? Por quê?

• Que fatores externos podem influenciar essa evolução?

14. Gráfico de pizza e proporções no banco de dados

Tarefa: Utilize um gráfico de pizza para analisar a proporção entre categorias de uma variável categórica
do banco de dados.

Execute o código:
```
1 df [’ work_setting ’]. value_counts () . plot ( kind =’pie ’, autopct =’%1.1 f%% ’)
```

Discussão:

• Qual modelo de trabalho é mais frequente?

• O gráfico de pizza facilita a visualização das proporções?

• Em quais situações esse gráfico pode não ser a melhor escolha?


15. Boxplot e análise de dispersão dos salários
Tarefa: Utilize um boxplot para comparar a distribuição salarial entre diferentes categorias do banco
de dados.

Execute o código:
```
1 df . boxplot ( column =’ salary_in_usd ’, by =’ experience_level ’)
```
Discussão:

• Como os salários variam entre os níveis de experiência?

• Existem valores discrepantes (outliers)?

• Que informações o boxplot fornece que não aparecem claramente no histograma?


16. Gráfico de dispersão e relação entre variáveis
Tarefa: Utilize um gráfico de dispersão para analisar a relação entre duas variáveis numéricas do banco
de dados.

Execute o código:
```
1 df . plot . scatter (x =’work_year ’, y=’ salary_in_usd ’)
```

Discussão:

• Existe alguma relação visível entre o ano e o salário?

• O gráfico indica tendência, dispersão ou ausência de padrão?

• Por que gráficos de dispersão são importantes em análises exploratórias?



17. Gráficos adicionais e justificativa da escolha
Tarefa: Escolha ao menos um gráfico adicional que considere relevante para explorar o banco de
dados, justificando a escolha com base nos tipos de variáveis analisadas.
Discussão:
• Qual gráfico foi escolhido e por quê?
• Que novas informações esse gráfico revelou?
• Esse gráfico reforça ou complementa análises anteriores?

#Titulo
##Subtítulo
###SubSub

## Banco de Dados

- O tema central do dataset: Empregos e salários na área de Ciência de Dados

- Que tipo de informações ele apresenta: Cargos, departamentos, cidades, salários, modelo de trabalho, tamanho da empresa, nível de experiência

- Tipo: csv

- Onde o banco de dados está disponível: Kaggle - [url](URL "https://www.kaggle.com/datasets/hummaamqaasim/jobs-in-data")

*Que tipos de perguntas ou problemas podem ser investigados a partir desse conjunto de dados?
O tamanho deste mercado específico, noção dos salários aplicados por região, média salarial por habilidade

## Descrição do Conjunto de Dados

## Informações

## Objetivo

## Gráficos

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
## Jobs and Salaries in Data Science

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df2 = pd.read_csv("/content/drive/MyDrive/cdai/jobs_in_data.csv")

df2.describe()

#df["work_year"] = pd.to_datetime(df["work_year"], format = "%Y")
#print(" Inicio :", df["work_year"].min ())
#print(" Fim:", df["work_year"].max())

#df.info()
#df.dtypes

#print("here: ", df.isnull().sum())
#print("heeeere >>>> ", df["job_title"].isnull())
#print("heeeere >>>> ", df["job_category"].isnull())
#print("heeeere >>>> ", df["salary_currency"].isnull())
#print("heeeere >>>> ", df["salary"].isnull())
#print("heeeere >>>> ", df["salary_in_usd"].isnull())
#print("heeeere >>>> ", df["employee_residence"].isnull())
#print("heeeere >>>> ", df["experience_level"].isnull())
#print("heeeere >>>> ", df["employment_type"].isnull())
#print("heeeere >>>> ", df["work_setting"].isnull())
#print("heeeere >>>> ", df["company_location"].isnull())
#print("heeeere >>>> ", df["company_size"].isnull())

#print("hereeeeee: ", df.duplicated().sum())


df_new2 = df2.drop_duplicates().copy()



display(df2)

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2023,Data DevOps Engineer,Data Engineering,EUR,88000,95012,Germany,Mid-level,Full-time,Hybrid,Germany,L
1,2023,Data Architect,Data Architecture and Modeling,USD,186000,186000,United States,Senior,Full-time,In-person,United States,M
2,2023,Data Architect,Data Architecture and Modeling,USD,81800,81800,United States,Senior,Full-time,In-person,United States,M
3,2023,Data Scientist,Data Science and Research,USD,212000,212000,United States,Senior,Full-time,In-person,United States,M
4,2023,Data Scientist,Data Science and Research,USD,93300,93300,United States,Senior,Full-time,In-person,United States,M
...,...,...,...,...,...,...,...,...,...,...,...,...
9350,2021,Data Specialist,Data Management and Strategy,USD,165000,165000,United States,Senior,Full-time,Remote,United States,L
9351,2020,Data Scientist,Data Science and Research,USD,412000,412000,United States,Senior,Full-time,Remote,United States,L
9352,2021,Principal Data Scientist,Data Science and Research,USD,151000,151000,United States,Mid-level,Full-time,Remote,United States,L
9353,2020,Data Scientist,Data Science and Research,USD,105000,105000,United States,Entry-level,Full-time,Remote,United States,S
9354,2020,Business Data Analyst,Data Analysis,USD,100000,100000,United States,Entry-level,Contract,Remote,United States,L